<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>{% block title %}Willkommen!{% endblock %}</title>
        <link rel="apple-touch-icon" href="{{asset('bundles/apple-touch.png')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('bootstrap/css/bootstrap.min.css')}}" />{% block stylesheets %}{% endblock %} 
    </head>
    <body>
    {% block body %}{% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js" ></script>
{% block javascripts %}{% endblock %}
</body>
</html>