<div class="container-fluid white">
    <div class="row">
        <div class="col-xs-6 text-left">
            <h1 class="hidden-xs hidden-sm">smanager <small class="white">Gymnasium Hohenschwangau</small></h1>
        </div>
        <div class="col-xs-6 text-right" style="margin-top: 20px; margin-bottom: 10px;">
            <div class="btn-group">

                <p class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span> {{ user.vorname }} {{ user.name }}
                    <span class="caret"></span>
                </p>
                <ul class="dropdown-menu">
                    <li><a href="profile">Mein Konto</a></li>
                    <li><a href="logout">Abmelden</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>